# Open Task Light - Default Configuration
# Copy to sdkconfig or run `idf.py menuconfig` to customize.
# Connectivity features are disabled by default and can be enabled via menuconfig.

CONFIG_OTL_SERIAL_OUTPUT=y
CONFIG_OTL_LOG_STATUS=y
CONFIG_OTL_NONOVERLAP_PWM=y
CONFIG_OTL_PRESENCE_SENSOR=n
CONFIG_TOUCH_SUPPRESS_DEPRECATE_WARN=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
